/* ==========================================================================
   General
   ========================================================================== */

:root {
  --left-nav-width: 160px;
  --grid-space: 20px;
  --top-box-height: 180px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: relative;
  color: #4d4d4d;
}

main {
  position: relative;
  background: #f7f7f7;
  min-height: 100vh;
  width: calc(100vw - var(--left-nav-width));
  max-width: calc(100% - var(--left-nav-width));
  margin-left: var(--left-nav-width);
}

/* ==========================================================================
   Left Navigation Sidebar
   ========================================================================== */
nav {
  position: fixed;
  float: left;
  width: var(--left-nav-width);
  min-height: 100vh;
  height: 100%;
  background: #222a47;
  color: #919191;
  font-size: 14px;
}

nav #timeNav {
  margin: 0 auto;
  margin-top: 1vw;
  color: #e9e9e9;
  text-align: center;
}

nav #overviewNav,
nav #economicsNav,
nav #employeesNav,
nav #profile {
  margin: 0 auto;
  margin-top: 2vw;
  text-align: center;
  cursor: pointer;
  margin-top: 60px;
}

nav .nav-menu:hover .cls-1,
nav .nav-menu:hover rect,
nav .nav-menu:hover circle,
nav .nav-menu:hover path {
  fill: white;
  transition: fill 0.3s;
}

nav .nav-icon {
  height: 40px;
  margin: 0 auto;

  stroke: white;
}

nav #bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

nav #bottom-nav p {
  font-size: 12px;
}

nav #profile {
  text-align: center;
  width: 35%;
  margin-top: 20px;
}

nav #profile p {
  color: #e9e9e9;
}

nav #profilePic {
  display: block;
  margin: 0 auto;
  width: 100%;
}

nav #settings {
  margin-left: 10px;
  margin-top: 40px;
  text-align: center;
  float: left;
}

nav #settings img {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  display: block;
}

nav #logout p {
  margin-right: 10px;
  margin-top: 45px;
  float: right;
  color: #919191;
}

/* ==========================================================================
   Overview
   ========================================================================== */

#overview {
  width: calc(
    100vw - var(--left-nav-width) - var(--grid-space) - var(--grid-space)
  );
  overflow-x: hidden;
  margin: 0px auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--grid-space);
  min-height: 300px;
}

.boxes {
  background: white;
  border-radius: 15px;
  /*grid-column: 3 / 6;*/
  grid-column: span 3;
  width: 100%;
}

.box-header {
  font-size: 22px;
  margin-top: 20px;
}

/* Top Box
   ========================================================================== */
#top-box {
  height: var(--top-box-height);
  grid-column: span 6;
}

.box-header {
  font-size: 22px;
  margin-top: 30px;
}

#top-box #top-box-wrapper {
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--grid-space);
  width: calc(
    100vw - var(--left-nav-width) - var(--grid-space) - var(--grid-space)
  );
}

#top-box #top-box-wrapper > div {
  grid-column: span 2;
  text-align: center;
}

#top-box .queue p,
#top-box .serving p {
  margin-top: 10px;
  font-size: 60px;
}

/* Keg level
   ========================================================================== */
#keg-level {
  height: calc(
    100vh - var(--grid-space) - var(--grid-space) - var(--grid-space) -
      var(--top-box-height)
  );
}

/* Storage
   ========================================================================== */
#storage {
  height: calc(
    100vh - var(--grid-space) - var(--grid-space) - var(--grid-space) -
      var(--top-box-height)
  );
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
