/* ==========================================================================
   General
   ========================================================================== */

:root {
  --left-nav-width: 160px;
  --grid-space: 20px;
  --top-box-height: 180px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: relative;
  color: #4d4d4d;
}

main {
  position: relative;
  background: #f7f7f7;
  min-height: 100vh;
  width: calc(100vw - var(--left-nav-width));
  margin-left: var(--left-nav-width);
}

/* ==========================================================================
   Left Navigation Sidebar
   ========================================================================== */
nav {
  position: fixed;
  float: left;
  width: var(--left-nav-width);
  min-height: 100vh;
  height: 100vh;
  background: #222a47;
  color: #919191;
  font-size: 14px;
  top: 0;
  left: 0;
  z-index: 40;
}

nav #timeNav {
  margin: 0 auto;
  margin-top: 1vw;
  color: #e9e9e9;
  text-align: center;
}

nav #overviewNav,
nav #economicsNav,
nav #employeesNav,
nav #profile {
  margin: 0 auto;
  margin-top: 2vw;
  text-align: center;
  cursor: pointer;
  margin-top: 60px;
}

nav .nav-menu:hover .cls-1,
nav .nav-menu:hover rect,
nav .nav-menu:hover circle,
nav .nav-menu:hover path {
  fill: #e9e9e9;
  transition: fill 0.3s;
}

nav .active .cls-1,
nav .active rect,
nav .active circle,
nav .active path {
  fill: #e9e9e9;
}

nav .active p {
  color: #e9e9e9;
}

nav .nav-icon {
  height: 40px;
  margin: 0 auto;
  stroke: #e9e9e9;
}

nav #bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

nav #bottom-nav p {
  font-size: 12px;
}

nav #profile {
  text-align: center;
  width: 35%;
  margin-top: 20px;
}

nav #profile p {
  color: #e9e9e9;
}

nav #profilePic {
  display: block;
  margin: 0 auto;
  width: 100%;
}

nav #settings {
  margin-left: 10px;
  margin-top: 40px;
  text-align: center;
  float: left;
}

nav #settings img {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  display: block;
}

nav #logout p {
  margin-right: 10px;
  margin-top: 45px;
  float: right;
  color: #919191;
}

/* ==========================================================================
   Overview
   ========================================================================== */

#overview {
  width: calc(
    100vw - var(--left-nav-width) - var(--grid-space) - var(--grid-space)
  );
  overflow-x: hidden;
  margin: 0px auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--grid-space);
  min-height: 300px;
}

.boxes {
  background: white;
  border-radius: 15px;
  /*grid-column: 3 / 6;*/
  grid-column: span 3;
  width: 100%;
}

.box-header {
  font-size: 22px;
  margin-top: 20px;
}

/* Top Box
   ========================================================================== */
#top-box {
  height: var(--top-box-height);
  grid-column: span 6;
}

#top-box .box-header {
  font-size: 22px;
  margin-top: 30px;
}

#top-box #top-box-wrapper {
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--grid-space);
  width: calc(
    100vw - var(--left-nav-width) - var(--grid-space) - var(--grid-space)
  );
}

#top-box #top-box-wrapper > div {
  grid-column: span 2;
  text-align: center;
}

#top-box .queue p,
#top-box .serving p {
  margin-top: 10px;
  font-size: 60px;
  display: inline-block;
}

#top-box img {
  width: 30px;
  position: absolute;
  top: 24px;
  left: 130px;
  right: 0px;
  margin: 0 auto;
}
#top-box .serving img {
  width: 25px;
  top: 22px;
}

#top-box .performance,
#top-box .queue,
#top-box .serving {
  position: relative;
  height: 100%;
}

#top-box .performance #perf-chart {
  height: 75% !important;
  width: 40% !important;
  margin: 0 auto;
  margin-top: -15px;
}
#top-box .performance .perf-value {
  position: absolute;
  bottom: 20%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

/* Keg level
   ========================================================================== */
#keg-level {
  height: calc(
    100vh - var(--grid-space) - var(--grid-space) - var(--grid-space) -
      var(--top-box-height)
  );
  position: relative;
}

#keg-level #keg-level-chart {
  height: calc(
    100vh - var(--grid-space) - var(--grid-space) - var(--grid-space) -
      var(--top-box-height) - 20%
  ) !important;
  width: 85% !important;
  margin: 0 auto;
  margin-top: 20px;
}

#keg-level h2 {
  margin-left: 10px;
}

/* Storage
   ========================================================================== */
#storage {
  height: calc(
    100vh - var(--grid-space) - var(--grid-space) - var(--grid-space) -
      var(--top-box-height)
  );
  position: relative;
}

#storage #storage-level-chart {
  height: calc(
    100vh - var(--grid-space) - var(--grid-space) - var(--grid-space) -
      var(--top-box-height) - 20%
  ) !important;
  width: 85% !important;
  margin: 0 auto;
  margin-top: 20px;
}
#storage h2 {
  margin-left: 10px;
}

/* Modal
   ========================================================================== */
.display-modal-button {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  border: 1.5px solid grey;
  border-radius: 50%;
  font-family: serif;
  color: grey;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
}

#modal {
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.76);
  width: calc(100vw - var(--left-nav-width));
  right: 0;
  top: -100vh;
  transition: top 0.7s;
}

#modal-info {
  height: 60vh;
  width: 80vmin;
  margin: 0 auto;
  margin-top: 20vh;
  background: white;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

#modal h2 {
  font-weight: bold;
}
#modal p {
  margin-top: 10px;
  line-height: 25px;
}
#modal button {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80px;
  height: 25px;
  background: #949494;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* ==========================================================================
   Employee
   ========================================================================== */

#employee-grid {
  width: calc(
    100vw - var(--left-nav-width) - var(--grid-space) - var(--grid-space)
  );
  overflow-x: hidden;
  margin: 0px auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--grid-space);
  min-height: 210px;
}

#employee h2 {
  padding: 5px;
}

#employee-grid .boxes {
  background: white;
  border-radius: 15px;
  grid-column: span 2;
  width: 100%;
  text-align: center;
}

#employee-grid .boxes p {
  padding: 5px;
}

#employee img {
  width: 10vw;
}

/* ==========================================================================
   Burger Menu
   ========================================================================== */
#burger-menu {
  display: none;
  position: fixed;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 30px;
  z-index: 50;
}
#burger-menu span {
  width: 30px;
  height: 5px;
  margin-top: 5px;
  background: #4d4d4d;
  display: block;
  border-radius: 5px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #top-box #top-box-wrapper {
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: var(--grid-space);
    width: 95vw;
  }
  #top-box #top-box-wrapper > div {
    grid-column: span 6;
    text-align: center;
  }
  #top-box {
    height: auto;
    grid-column: span 6;
  }
  #modal {
    width: 100vw;
  }
  #burger-menu {
    display: block;
  }
  nav {
    top: -100vh;
    transition: top 0.7s;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .boxes {
    grid-column: span 6;
  }
  main {
    width: 100vw;
    max-width: 100%;
    margin-left: 0px;
  }
  #overview {
    width: 95vw;
    overflow-x: hidden;
    margin: 0px auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: var(--grid-space);
    min-height: 300px;
  }
}
